<a href="https://colab.research.google.com/github/TraoAnTan/AI/blob/main/AI_W8_24_3_23ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import Perceptron
x = [[0,0,],[1,0],[0,1],[1,1]]
y = [0,1,1,1]
model = Perceptron()
model.fit(x,y)
model.score(x, y)

1.0

In [2]:
x1 =[[0.5,0],[0,0.5],[0.6,0],[0,0.6],[-10,2],[0.1,1],[-0.3,4]]
y1 = model.predict(x1)

In [3]:
x2 = [[-0.5,-0.5],[-0.5,0.5],[0.3,-0.5],[-0.1,1]]
y2 =[1,1,0,0]
model = Perceptron()
model.fit(x2,y2)
model.score(x2, y2)

1.0

In [4]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [5]:
iris = datasets.load_iris()
X = iris.data
y = iris.target
print(X[:5])
print(y[:5])
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[0 0 0 0 0]

In [7]:
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)
print(X_train[:5], X_train_std[:5])

[[5.3 3.7 1.5 0.2]
 [5.2 2.7 3.9 1.4]
 [6.2 2.8 4.8 1.8]
 [4.9 2.5 4.5 1.7]
 [7.4 2.8 6.1 1.9]] [[-0.72058379  1.52925159 -1.33770562 -1.35176263]
 [-0.84164186 -0.8080325   0.03430014  0.20796348]
 [ 0.3689389  -0.57430409  0.5488023   0.72787218]
 [-1.20481609 -1.27548932  0.37730158  0.59789501]
 [ 1.82163581 -0.57430409  1.29197209  0.85784936]]

In [8]:
# khong scaler(max_iter: so lan hoc, eta0:toc do hoc)
model = Perceptron(max_iter=1000, eta0=0.9,
                   random_state=0)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(y_pred)
print(y_test)
print("do chinh xac ma hinh chua scaler:",
      accuracy_score(y_test, y_pred))

[2 1 0 1 0 0 1 1 0 2 1 0 2 1 2 0 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 0 1 1 1 1 0
 2 1 2 1 1 2 0 1]
[2 1 0 1 0 0 1 1 0 2 1 0 2 2 2 0 1 0 0 1 0 2 1 0 1 0 1 0 2 1 0 0 1 1 2 1 0
 2 1 2 1 2 2 0 1]
do chinh xac ma hinh chua scaler: 0.8666666666666667

In [10]:
model =Perceptron(max_iter = 10000, eta0=0.9,
                  random_state = 0)
model.fit(X_train_std, y_train)
y_pred=model.predict(X_test_std)
print(y_pred)
print(y_test)
print("do chinh xac cua mo hinh da scale:",
      accuracy_score(y_test, y_pred))

[2 1 0 1 0 0 1 1 0 2 1 0 2 1 2 0 1 0 0 1 0 2 1 0 2 0 1 0 2 1 0 0 1 1 1 1 0
 2 1 2 1 2 2 0 1]
[2 1 0 1 0 0 1 1 0 2 1 0 2 2 2 0 1 0 0 1 0 2 1 0 1 0 1 0 2 1 0 0 1 1 2 1 0
 2 1 2 1 2 2 0 1]
do chinh xac cua mo hinh da scale: 0.9333333333333333

In [12]:
import pandas as pd
data = pd.read_csv('crabs.csv')
data.head()

  speies sex  index  fontallip  rearwidth  length  width  depth
0      B   M      1        8.1        6.7    16.1   19.0    7.0
1      B   M      2        8.8        7.7    18.1   20.8    7.4
2      B   M      3        9.2        7.8    19.0   22.4    7.7
3      B   M      4        9.6        7.9    20.1   23.1    8.2
4      B   M      5        9.8        8.0    20.3   23.0    8.2

In [13]:
data['speies'].replace(["o","B"], [1,0], inplace=True)
data['sex'].replace(['M', 'F'], [1,0], inplace = True)
data

    speies  sex  index  fontallip  rearwidth  length  width  depth
0        0    1      1        8.1        6.7    16.1   19.0    7.0
1        0    1      2        8.8        7.7    18.1   20.8    7.4
2        0    1      3        9.2        7.8    19.0   22.4    7.7
3        0    1      4        9.6        7.9    20.1   23.1    8.2
4        0    1      5        9.8        8.0    20.3   23.0    8.2
..     ...  ...    ...        ...        ...     ...    ...    ...
195      O    0     46       21.4       18.0    41.2   46.2   18.7
196      O    0     47       21.7       17.1    41.7   47.2   19.6
197      O    0     48       21.9       17.2    42.6   47.4   19.5
198      O    0     49       22.5       17.2    43.0   48.7   19.8
199      O    0     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [40]:
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)
print(X_train[:3], X_train_std[:3])

model =Perceptron(max_iter = 1000, eta0=0.3,
                  random_state = 0)
model.fit(X_train_std, y_train)
y_pred=model.predict(X_test_std)
print(y_pred[:3])
print(y_test[:3])
print("do chinh xac cua mo hinh da scaler:",
      accuracy_score(y_test, y_pred))

[[5.1 3.5 1.4 0.3]
 [6.5 3.2 5.1 2. ]
 [6.4 2.8 5.6 2.1]] [[-0.8515708   1.03785902 -1.34232705 -1.19804672]
 [ 0.86089031  0.33022787  0.79057299  1.06732764]
 [ 0.73857166 -0.61328033  1.07880273  1.20058496]]
[0 2 1]
[0 2 1]
do chinh xac cua mo hinh da scaler: 0.9333333333333333

In [41]:
import pandas as pd
data = pd.read_csv('lung_cancer_examples.csv')
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [63]:
df = pd.DataFrame(data)

newdf = df.drop("Name", axis='columns')
newdf =  newdf.drop("Surname", axis='columns')
newdf =  newdf.drop("Result", axis='columns')

print(newdf[:5])

   Age  Smokes  AreaQ  Alkhol
0   35       3      5       4
1   27      20      2       5
2   30       0      5       2
3   28       0      8       1
4   68       4      5       6

In [73]:
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)
print(X_train[:2], X_train_std[:5])

model =Perceptron(max_iter = 1000, eta0=0.1,
                  random_state = 0)
model.fit(X_train_std, y_train)
y_pred=model.predict(X_test_std)
print(y_pred[:5])
print(y_test[:5])
print("do chinh xac cua mo hinh:",
      accuracy_score(y_test[:5], y_pred[:5]))

[[5.7 4.4 1.5 0.4]
 [5.1 3.8 1.9 0.4]] [[-0.18158862  3.072434   -1.31981777 -1.08555859]
 [-0.95982558  1.71504731 -1.08681085 -1.08555859]
 [ 2.41253456 -0.09480161  1.35976182  1.46231128]
 [ 1.11547297  0.13142951  0.3694824   0.25542555]
 [-0.44100094 -1.67841942  0.13647548  0.12132714]]
[1 1 2 2 1]
[1 1 2 2 2]
do chinh xac cua mo hinh: 0.8

In [74]:
import pandas as pd
data = pd.read_csv('pima-indians-diabetes.csv')
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [81]:
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.1)
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)
print(X_train[:3], X_train_std[:3])

model =Perceptron(max_iter = 1000, eta0=0.1,
                  random_state = 0)
model.fit(X_train_std, y_train)
y_pred=model.predict(X_test_std)
print(y_pred[:5])
print(y_test[:5])
print("do chinh xac cua mo hinh:",
      accuracy_score(y_test[:5], y_pred[:5]))

[[4.4 2.9 1.4 0.2]
 [5.4 3.4 1.7 0.2]
 [7.9 3.8 6.4 2. ]] [[-1.75566483 -0.35922321 -1.35673365 -1.32345891]
 [-0.51734324  0.80094743 -1.18207468 -1.32345891]
 [ 2.57846073  1.72908394  1.55424923  1.06584655]]
[1 1 1 0 0]
[2 1 1 0 0]
do chinh xac cua mo hinh: 0.8